.count{
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: -40px;
    margin-left: 20px;
    font-size: 15px;
    padding-left: 10px;
  }
  .Navbarr :link {
   text-decoration: none;
  }
  .Navv{
    color: white;
    background-color: black;
  }
  /*searchbox*/
  